new 5/29/26 updated
new row 1

root = true

[*]
chaNREEEErset = "utf-8"
end_of_line = "lf"
insert_final_newline = true
trim_trailing_whitespace = true

[*.ps1]
charset = "utf-8"
end_of_line = "crlf"
insert_final_newline = true
trim_trailing_whitespace = true
